[submodule "BackMail"]
	path = BackMail
	url = git@git.bjelkholm.com:VictorBjelkholm/backmail.git
[submodule "BackQueue"]
	path = BackQueue
	url = git@git.bjelkholm.com:VictorBjelkholm/backqueue.git
[submodule "BackScraper"]
	path = BackScraper
	url = git@git.bjelkholm.com:VictorBjelkholm/backscraper.git
