[submodule "BackData"]
	path = BackData
	url = git@git.bjelkholm.com:VictorBjelkholm/backdata.git
[submodule "BackMail"]
	path = BackMail
	url = git@git.bjelkholm.com:VictorBjelkholm/backmail.git
[submodule "BackQueue"]
	path = BackQueue
	url = git@git.bjelkholm.com:VictorBjelkholm/backqueue.git
[submodule "BackScraper"]
	path = BackScraper
	url = git@git.bjelkholm.com:VictorBjelkholm/backscraper.git
[submodule "BackUser"]
	path = BackUser
	url = git@git.bjelkholm.com:VictorBjelkholm/backuser.git
[submodule "BackWeb"]
	path = BackWeb
	url = git@git.bjelkholm.com:VictorBjelkholm/backweb.git
[submodule "BackWorker"]
	path = BackWorker
	url = git@git.bjelkholm.com:VictorBjelkholm/backworker.git
